:root {
  /* Line heights */
  --line-height: 1.4;

  /* Transitions */
  --duration: 150ms;
  --timing: ease;

  /* Spacing */
  --spacing-paragraph: calc(1em * var(--line-height, 1));
}

/* Gutters */
:root {
  --outer-gutter: theme('spacing.4');
}

@screen md {
  :root {
    --outer-gutter: theme('spacing.8');
  }
}

@screen lg {
  :root {
    --outer-gutter: theme('spacing.12');
  }
}
