{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/essential",
    "standard",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "plugins": ["vue"],
  "rules": {}
}
